# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# This library can run on Elixir 1.4.2 and up, but I use 1.6.6 for formatting
.tool-versions

# Build files (Ubuntu)
c_src/*.la
c_src/*.lo
c_src/*.o
c_src/.deps/
c_src/.libs/
c_src/Makefile
c_src/Makefile.in
priv/*.so